<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <h3>회원가입</h3>
        <input type="text" name="userid">
        <input type="password" name="password">
        <button type="submit">가입</button>
    </form>
    <!-- form을 작성 시 에는 name이 필수 -->
    <!-- form:get = 다 보이게 넘어감 -->
    <!-- form:post = hidden으로 넘어감 -->
    <!-- method는 총 4가지 put,delete,post,get이 있지만 실제 사용할 수 있는건 2개 뿐 -->
</body>
</html>